body{
	font-family: Tahoma;
}

#footer,#header{
	background-color: #333;
	color: #fff;
	padding: 10px 8px;
	text-align: center;
}

#header{
	margin-bottom: 12px;
}

#footer{
	margin-top: 12px;
}

.box{
	border: #d0d0d0 solid thin;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	margin-bottom: 10px;
}

.box-head{
	border-bottom: #d0d0d0 solid thin;
	padding: 10px 12px;
	font-weight: bolder;
	color: #0f0;
	text-transform: uppercase;
}

.box-main{
	padding: 14px 20px;
}

.block-line{
	content: ' ';
	display: block;
	padding: 8px;
	margin-top: 8px;
}

.list-group label{
	display: block;
	cursor: pointer;
}

.main-page{
	display: none;
}

.main-page:first-child{
	display: block;
}