<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ng.com.higotech.osun"
    versionCode = "10"
    version     = "1.0.2" >

<!-- versionCode is optional and Android only -->

    <name>A Mobile Tourist Guide (A case study of Osun State Tourism Borad, Osogbo)</name>

    <description>
        A mobile application for tourists visiting The Osun Osogbo Groove
    </description>

    <author href="http://higotech.com.ng" email="admin@higotech.com.ng">
        Makinde, Ogunlowo, Emmanuel
    </author>
    <icon src="icon.jpg"/>

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>